- page_title s_("UsageQuota|Usage")

%h1.page-title.gl-font-size-h-display
  = s_('UsageQuota|Usage Quotas')

.row
  .col-sm-6{ data: { testid: 'group-usage-message' } }
    %p.text-secondary
      = safe_format(s_('UsageQuota|Usage of group resources across the projects in the %{strong_start}%{group_name}%{strong_end} group'),
        { group_name: @group.name },
        tag_pair(tag.strong, :strong_start, :strong_end))

#js-usage-quotas-view
  .gl-font-lg.gl--flex-center
    %span.mr-1= s_('UsageQuota|Loading Usage Quotas tabs')
    = render Pajamas::SpinnerComponent.new(inline: true, size: :md)
  #js-namespace-storage-app{ data: storage_usage_app_data(@group) }
